<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your Sneakers catalog</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th colspan="1" class="table-head">Sneaker Image</th>
        <th colspan="1" class="table-head">Sneaker Name</th>
        <th colspan="1" class="table-head">Sneaker Ref</th>
        <th colspan="1" class="table-head">Sneaker Price</th>
        <th colspan="1" class="table-head"> </a> Edit</th>
        <th colspan="1" class="table-head">Delete</th>
      </tr>

    </thead>
    <tbody>
      {{#each sneakers}}
      <tr class="table-row">
        <td class="table-division">
          <div><img src={{this.image}} alt="img" class="table-image" /></div>
        </td>
        <td class="table-division">
          <div>{{this.name}}</div>
        </td>
        <td class="table-division">
          <div>{{this.ref}}</div>
        </td>
        <td class="table-division">
          <div>{{this.price}}</div>
        </td>
        <td class="table-division"><a href="/product_edit" class="fa fa-edit table-icon"></a>
        <td class="table-division"><a href="" class="fa fa-trash table-icon" aria-hidden="true"></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>